.aboutText{
    position: relative;
}
h2{
    position: relative;
    text-align: center;
    color: #028C32;
}
h2::after{
    content: '';
    width: 100px;
    height: 5px;
    position: absolute;
    background-color: red;
    right: 100px;
    
}