.Navbar {
  background: linear-gradient(0deg, #ffffff, #ffffff),
    linear-gradient(90.01deg, #08bd46 0.84%, rgba(44, 255, 204, 0) 194.85%);
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.16);
  height: 4rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;

  .nav-title{
      font-size: 20px !important;
  @extend .nav-link;  
  }
  .nav-link {
      color: #028c32;
      font-weight: 600;
      font-size: 16px;
    }
    
    @media only screen and (max-width:768px){
    .nav-link{
    //    background-color: rgba(154, 209, 173, 0.3); 
       &:hover{
       background-color: rgba(154, 209, 173, 0.3); 

       }
       .nav-items{
        top: 15vh;
        position: absolute;
left: 0;
       }
    }
    
}
}
