.pickupP {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
  text-align: justify;
  color: #666666;

  //   padding: 1rem;

}
.btnPickUp1 {
  background-color: #028c32;
  color: #ffffff;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.23);
  border-radius: 6px;
  border: none;
  padding: 0.5rem 1.2rem;
  //   margin-left: 1rem;
}
.btnPickUp2 {
  @extend .btnPickUp1;
  background: #000000;
  margin-left: 1rem;

  &:hover {
    background-color: red;
  }
}

.pickWrapper{
    background-image: url(../../Assets/bgflipit.svg);
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 2rem;
}
.pickCol {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;
  .btnFlip {
    background: #028c32;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.23);
    border-radius: 6px;
    text-align: justify;
    letter-spacing: -0.01em;
    text-transform: capitalize;
    color: #ffffff;
    border:none;
    padding: 0.5rem 1rem;
    
    &:hover{
        color: #028c32;
        background-color: #f1efef;
    }
  }
}


@media only screen and (max-width:768px){
    .pickRow{
        flex-direction: column-reverse;
    }
    .pickRow2{
        flex-direction: column;
    }
}