.BecomePartner {
  background-color: #028c32;
  padding: 1rem;
  .bPH2 {
    color: #ffffff;
    padding: 1rem;
  }
  .beText {
    margin-top: 2rem;
    background: #fffefe;
    border-radius: 8px;
    max-height: 430px;
    padding: 15px;
    max-width: 500px;
    margin-left:1rem;

  }
//   .beText::after{
//     content: '';
//     height: 213px;
//     width: 2px;
//     position: absolute;
//     background-color: #ffffff;
//     transform: translate(568px, -213px);
//   }
  .beText2{
    margin-top: 2rem;
    background: #fffefe;
    border-radius: 8px;
    max-height: 430px;
    padding: 15px;
    max-width: 500px;
    margin-left:1rem;
  }
  .BpP1{
    color: #028C32;
    font-weight: 700;
  }
  .Greendot{
    font-weight: 500;
    padding-left: 1rem;
    color: #000000;
  }
  .Greendot::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    background-color: #028c32;
    transform: translate(-20px, 8px);
  }
}



@media only screen and (max-width:768px) {
    
}