.BecomePartner {
  background-color: #028c32;
  .bPH2 {
    color: #ffffff;
    padding: 3rem;
  }
  .beText {
    margin-top: 3rem;
    background: #fffefe;
    border-radius: 8px;
    max-height: 430px;
    padding: 15px;
    max-width: 540px;
    margin-left:2rem;
    // line-height: 50px;
  }
  .Greendot{
    padding: 1rem;
    color: #000000;
  }
  .Greendot::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    background-color: #028c32;
    transform: translate(-20px, 8px);
  }
}
