.heroSection {
  h1 {
    color: #028c32;
    width: 320px;
    font-weight: 700;
    line-height: 110.02%;
    padding-top: 5rem;
    padding-bottom: 2rem;
  }
  p {
    color: rgba(0, 0, 0, 0.4);
    width: 320px;
    padding-bottom: 2rem;
    text-align: justify;
    letter-spacing: -0.01em;
    text-transform: capitalize;
    font-weight: 400;
  }
  .btnn:hover{
    background-color: red !important;
    // display: none;
  }
  .man img{
    width: 100%;
    height: auto;
  }
}

